<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

    <test name="Cell Tests">
        <classes>
            <class name="com.bnana.goa.tests.unit.OffCellTest" />
            <class name="com.bnana.goa.tests.unit.OnCellTest" />
            <class name="com.bnana.goa.tests.unit.CellGroupTest" />
            <class name="com.bnana.goa.tests.unit.RadialForceFieldUpdaterTest" />
            <class name="com.bnana.goa.tests.unit.RandomCellGeneratorTest" />
            <class name="com.bnana.goa.tests.unit.ProximityCellGeneratorTest" />
            <class name="com.bnana.goa.tests.unit.EuclideanDistanceTest" />
            <class name="com.bnana.goa.tests.unit.OrganismTest" />
        </classes>
    </test>

</suite>