<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

    <test name="Cell Tests">
        <classes>
            <class name="com.bnana.goa.tests.unit.OffCellTest" />
            <class name="com.bnana.goa.tests.unit.OnCellTest" />
            <class name="com.bnana.goa.tests.unit.SimpleCellGroupTest" />
            <class name="com.bnana.goa.tests.unit.RadialForceFieldUpdaterTest" />
            <class name="com.bnana.goa.tests.unit.RandomCellGeneratorTest" />
            <class name="com.bnana.goa.tests.unit.InverseProximityCellGeneratorTest" />
            <class name="com.bnana.goa.tests.unit.EuclideanDistanceTest" />
            <class name="com.bnana.goa.tests.unit.OrganismTest" />
            <class name="com.bnana.goa.tests.unit.Box2dOrganismPhysicsTests" />
            <class name="com.bnana.goa.tests.unit.PhysicOrganismTest" />
            <class name="com.bnana.goa.tests.unit.RadialForceFieldTests" />
            <class name="com.bnana.goa.tests.unit.WanderingCellTests" />
            <class name="com.bnana.goa.tests.unit.PhysicCellTests" />
            <class name="com.bnana.goa.tests.unit.WanderingOnTouchActionTests" />
            <class name="com.bnana.goa.tests.unit.SwitchableCellOnTouchActionTests" />
            <class name="com.bnana.goa.tests.unit.CellActorControllerTests" />
            <class name="com.bnana.goa.tests.unit.ActorsFactoryCellGroupTests" />
            <class name="com.bnana.goa.tests.unit.CellActorControllerGroupFactoryTests" />
        </classes>
    </test>

</suite>